{% extends 'wagnit_blog/base_wagnit.html' %}
{% load wagnit_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ post.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text"> Name: {{ object.name }} </p>
                        <p> Description: {{ object.description }} </p>
                        <p class="card-text"> created_at: {{ object.created_at }} </p>
                        <p class="card-text"> views_counter: {{ object.views_counter }} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <a class="btn btn-primary" href="{% url 'wagnit_blog:posts_list'%}"
                                   role="button">Назад</a>
                            </div>
                            <small class="text-body-secondary"> {{ post.created_at }} </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}